body {
	overflow : hidden;
	padding : 0;
	margin : 0;
	background-color: #000000;
}

@font-face { 
    font-family: "ocr-a-std";
    src: url("ocr.woff2") format("woff2");
}

.gauge {
    border: none;
    padding: 0px;
    width: 100%;
}

#gauge-bar {
    right: 0px;
    width: 12%;
    height: 100%;
    border: none;
    position: absolute;
}

.gauge-label {
    font-size: 12px;
    font-family: ocr-a-std;
    background-color: white;
    padding: 2px;
}

.gauge-label-value {
    font-size: 12px;
    font-family: ocr-a-std;
    background-color: white;
    padding: 2px;
}

#config-dialog {
    z-index: 30;
    width: 50%;
    background-color: gray;
    font-family: ocr-a-std;
    text-align: center;
    max-height: 80%;
    overflow-y: scroll;
}

#save-config-button {
    margin-right: 10px;
}

.config-options {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

.config-input {
    width: 100%;
    font-family: ocr-a-std;
    font-size: 10px;
    margin-bottom: 10px;
}

.config-label {
    width: 100%;
    text-align: right;
}

.config-button {
    height: 30px;
    font-family: ocr-a-std;
    font-size: 14px;
}

#message-bar {
    height: 10%;
    width: 60%;
    position: absolute;
    left: 20%;
    bottom: 30%;
    font-size: 3vw;
    color: black;
    font-family: ocr-a-std;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#steering-button {
	background: url("images/steering.png") no-repeat scroll 0 0 transparent;
    background-color: red;
    background-size: contain;
}

#fullscreen-button {
	background: url("images/fullscreen.png") no-repeat scroll 0 0 transparent;
    background-size: contain;
}

#config-button {
	background: url("images/config.png") no-repeat scroll 0 0 transparent;
    background-size: contain;
}

#container, #interface {
	width : 100%;
	height : 100%;
	overflow : hidden;
	padding : 0;
	margin : 0;
	-webkit-user-select : none;
	-moz-user-select : none;
}

#hud, #hud_canvas {
    width: 100%;
    height: 100%;
    z-index: 5;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 1;
}

#heading {
    width: 100px;
    height: 50px;
    line-height: 50px;
    background-color: green;
    top: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    display: table;
    margin: auto;
    font-size: 30px;
    font-family: ocr-a-std;
}

#interface {
	z-index: 15;
    position: absolute !important;
    pointer-events: none;
}

#minimap {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30%;
    padding-bottom:30%;
}

#opencv {
    z-index: 7;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 400px;
    height: 400px;
}

#remoteVideo {
	z-index: 1;
	position: absolute;
    width: 100%;
    height: 100%;
}

.menu-button {
    height: 6vh;
    width: 6vh;
    cursor: pointer;
    padding: 10px;
    border: none;
}

#menu-bar {
	background: green;
	width: 60%;
	height: 6%;
	position: absolute;
	left: 20%;
	bottom: 0px;
	z-index: 20;
    border: 1px solid black;
}

#status-bar {
    z-index: 5;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 30px;
    width: 100%;
    background-color: gray;
}

#goFS {
	position: absolute;
	left: 20px;
	right: 20px;
	z-index: 4;
}
